/* Clignotement du fond */

@-moz-keyframes blink {
  to {
    background-color: #223332;
  }
}
@-webkit-keyframes blink {
  to {
    background-color: #223332;
  }
}
@keyframes blink {
  to {
    background-color: #223332;
  }
}
/* Déplacement vertival du fond */

@-moz-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-webkit-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@keyframes skip {
  to {
    background-position: 0 100%;
  }
}


@-moz-keyframes shake {
  0% {transform: translateY(0px);}
  50%{transform: translateY(10px);}
  100% {transform: translateY(0px);}
}
@-webkit-keyframes shake {
  0% {transform: translateY(0px);}
  50%{transform: translateY(10px);}
  100% {transform: translateY(0px);}
}
@keyframes shake {
  0% {transform: translateY(0px);}
  50%{transform: translateY(10px);}
  100% {transform: translateY(0px);}
}

/* On me voit, on m'voit plus */

@-moz-keyframes ready {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes ready {
  to {
    visibility: hidden;
  }
}
@keyframes ready {
  to {
    visibility: hidden;
  }
}
